@import "tailwindcss";

:root {
	--background: #f8fafc;
	--foreground: #171717;
	--primary: #3b82f6;
	--secondary: #6366f1;
	--surface: #ffffff;
	--accent: #22c55e;
	--dark: #1e293b;
	--completed: #22c55e;
	--progress: #3b82f6;
	--soon: #f59e0b;
	--overdue: #ef4444;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-surface: var(--surface);
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-accent: var(--accent);
	--color-dark: var(--dark);
	--color-completed: var(--completed);
	--color-progress: var(--progress);
	--color-soon: var(--soon);
	--color-overdue: var(--overdue);
	--font-poppins: var(--font-poppins);
	--font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
